@media only screen and (min-width:600px) {
    .flexy{
        display:flex;
    }


    }




    @media only screen and (max-width:600px) {

    
        #main{
            line-height:30px !important
        }
        #fixed-buttons{
          top:80px !important
        }
        #top{
          height:85px !important
        }
        .main-heading{
          font-size:30px !important;
        }

        }











    .main-heading{
        color:white;
        font-weight:bolder;
        text-shadow:2px 2px black;
        margin-top:10px;
        font-family:sans-serif;
        font-size:40px ;
    }

    #main{
        line-height:18px
    }


    .zoom{
        /* transform-origin: 50% 65%;
        transition: transform 5s, filter 1s ease-in-out;
        filter: brightness(150%); */

        -webkit-transition: all 1s ease;
      -moz-transition: all 1s ease;
      -ms-transition: all 1s ease;
      transition: all 1s ease;
    }

.zoom:hover {
    /* filter: brightness(100%);
    transform: scale(1.2);

    /* width: 370px; */
    /* height: 500px; */
    transform: scale(1.4);

}
.share{
    font-size:30px
}

.read{
    width:90px !important;
    height:30px !important;
    font-size:10px!important;
    margin-top:12px;
    margin-left:10px;
}
.read:hover{
  margin-top:-3px;
}
a{
    color:rgb(99, 97, 97) !important;
}
a:hover{
  text-decoration:none !important;
  color:blue !important;
}



span a{
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
    font-size:25px;
  }

  span a:hover {
    background-color: #ddd;
    color: rgb(109,117,125);

    text-decoration:none !important;
    color:blue !important

  }

  .previous span {
    background-color: #f1f1f1;
    color: rgb(109,117,125);
  }

  .next span{
    color: rgb(109,117,125);
  }

   span.round {
    border-radius: 50%;
  }


  #top{
    height:35px;
    background-color:rgb(209, 207, 207) !important
  }



  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 60px;
    width:100%; /* Full width */
    height: 100%;/* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    z-index:2000 !important;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 10%; /* Could be more or less, depending on screen size */
    width: 500px !important; /* Full width */
    height: 270px !important; /* Full height */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    /* -webkit-animation-name: animatetop !important;
    -webkit-animation-duration: 0.4s  !important;
    animation-name: animatetop !important;
    animation-duration: 0.4s !important;
    position: relative; */

}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.description-p{
  line-height:30px;
  margin-top:40px;
  margin-bottom:40px
}

.media2{
  padding:15px;
  margin-left:-30px;
}



.media2:hover{
  width:70px;
  transition: 1s ease;

}


.google{
  border:none !important;
  width:120px !important;
  height:40px !important;
  background-color:white !important;
  color:grey;
  font-weight:bold;
  box-shadow:0 0 2px 2px rgb(199, 198, 198) !important;
}

#comment-form input{
margin-bottom:20px !important;
height:40px;
}


#submit{
  width:160px;
  height:45px;
  border-radius:5px;
  background-color:grey;
  border:none;
  color:white;
  font-weight:bold;
}

#submit:hover{
  border:solid 1px grey;
  color:grey;
  background-color:white;
}

/* 
.Search-container{
  width:100%;
  height:40px;
  border:none;
  padding:15px;
  position:relative;
  display:block;

}
.hid{
  display:none;
} */

/* 
input[type=search] {
  width: 130px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-image: url('../img/search-icon.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  background-size:30px;
  padding: 12px 20px 12px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  color:rgb(105, 123, 141) !important;
  background-color: white;
  font-weight:bold;
  margin-left:20px;
margin-top:30px;
}

input[type=search]:focus {
  width: 100%;
} */


/* 

input[type=search] {
  width: 130px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-image: url('../img/search-icon.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  background-size:30px;
  padding: 12px 20px 12px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  color:rgb(105, 123, 141) !important;
  background-color: white;
  font-weight:bold;
  margin-left:20px;

}

input[type=search]:focus {
  width: 100%;
} */
/* 
.search-container{
  background: #fff;
  height: 30px;
  border-radius: 30px;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.8s;

box-shadow:  4px 4px 6px 0 rgba(255,255,255,.3),
            -4px -4px 6px 0 rgba(116, 125, 136, .2),
  inset -4px -4px 6px 0 rgba(255,255,255,.2),
  inset 4px 4px 6px 0 rgba(0, 0, 0, .2);
}


.search-container .search-input{
  background: transparent;
  border: none;
  outline:none;
  width: 0px;
  font-weight: 500;
  font-size: 16px;
  transition: 0.8s;

}

.search-container .search-btn .fas{
  color: #5cbdbb;
}

@keyframes hoverShake {
0% {transform: skew(0deg,0deg);}
25% {transform: skew(5deg, 5deg);}
75% {transform: skew(-5deg, -5deg);}
100% {transform: skew(0deg,0deg);}
}

.search-container:hover{
animation: hoverShake 0.15s linear 3;
}



.search-button{
  width:100%;
  height:80px;
  z-index:999;
  display:block;
}

.hid{
  display:none;

} */

input[type=text] {
  width: 20px;
  /* box-sizing: border-box; */
  /* border: 2px solid #ccc; */
  border-radius: 6px;
  font-size: 16px;
  /* background-color: white; */
  background-image: url('../img/white-icon2.png');
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  /* padding: 15px 20px 12px 40px; */
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  background-size:30px;
  background-color:grey;
  z-index:999;
position:relative;
padding:20px;
padding-right:35px;
padding-bottom:32px;

cursor:pointer;
}

input[type=text]:focus {
  width: 100%;
  background-color:rgba(255, 255, 255, 0.9);
  height:100px;

  /* border:solid 1px white; */
  /* box-shadow:0 0 12px 12px red; */

}
.form-control:focus{
  box-shadow:none!important;
}